*{
    margin:0px;
    padding:0px;
}
body{
    color:#444444;
    font-size:13px;
    background: #f2f2f2;
    font-family:"Century Gothic", Helvetica, sans-serif;
}
#boxes {
font: 12px "verdana", "New York", serif;
position: relative;
color:#333;
background:#fff;
border: 1px;
margin-top: 10px;
border-style:solid;
border-color:#efbab7 #efbab7;
border-radius:15px;
/*implentação no firefox */
-moz-border-radius: 15px;
/* implementação para safari */
-webkit-border-radius: 15px;
box-shadow: 3px 3px 7px #fae7e8;
/*implentação no firefox */
-moz-box-shadow: 3px 3px 7px #fae7e8;
/* implementação para safari */
-webkit-box-shadow: 3px 3px 7px #fae7e8;
}
#content{
    margin:15px auto;
    text-align:center;
    width:733px;
    position:relative;
    height:100%;
}
#wrapper{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:2px solid #fff;
    background-color:#f9f9f9;
    width:730px;
    overflow:hidden;
}
#steps{
    float: center;
    width:730px;
	/*height:320px;*/
    overflow:hidden;
}
.step{
    width:721px;
	/*height:320px;*/
}
#steps fieldset{
    border:none;
    padding-bottom:20px;
}
#steps legend{
    text-align:left;
    background-color:#f0f0f0;
    color:#666;
    font-size:24px;
    font-weight:bold;
    float:left;
    width:720px;
    padding:5px 0px 5px 10px;
    margin:10px 0px;
}
#steps p label {
    width:200px;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
#steps form fieldset{
    border:none;
    padding-bottom:20px;
}
#steps form legend{
    text-align:left;
    background-color:#f0f0f0;
    color:#666;
    font-size:24px;
    font-weight:bold;
    float:left;
    width:720px;
    padding:5px 0px 5px 10px;
    margin:10px 0px;
}
#steps form p{
    clear:both;
    text-align:right;
    margin:5px 0px;
    width:470px;
    padding:10px;
    margin-left:0px;
}
#steps form p{
    display: block;
    clear:both;
    margin:5px 0px;
    padding:5px;
    margin-left:0px;
}
#steps form p label{
    width:200px;
    float:center;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
#steps form input,
#steps form textarea,
#steps form select{
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    width: 200px;
}
#steps form input[type=checkbox] {
    display: table-cell;
    width:20px;
    padding-right: 200px;
}
#checktxt {
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
#steps form input:focus{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background-color:#FFFEEF;
}
#steps form button {
    float: center;
    border:none;
    outline:none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    cursor:pointer;
    padding: 5px 17px;
    text-shadow: 0 1px 1px #777;
    font-weight:bold;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-size:14px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background:#4797ED;
}
#steps form button:hover {
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
#fr_erro2 {
    clear:both;
    margin:5px 0px;
    background-color:#FFEDEF;
    border:1px solid #fff;
    width:680px;
    padding:10px;
    margin-left:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    overflow:auto;  
}
#steps form p.p_erro{
    clear:both;
    float: right;
    text-align:left;
    margin:1px 0px;
    padding:2px;
    width:100%;
    margin-left:0px;
    color: #be696e;
}